doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1"
		)
		title= "Своя Клиника"
		link(
			href="https://fonts.cdnfonts.com/css/euclid-circular-a"
			rel="stylesheet"
		)
		link(
			rel="stylesheet",
			href="css/style.min.css"
		)
		script(src="/js/libs.min.js")
		script(src="/js/main.js")
	body
		include header.pug
		include section-about-clinic.pug
		include section-team.pug 
		include section-reviews.pug
		include section-feedback.pug
		include footer.pug
